<div>
	<H3>Text inputs</H3>
	<ax-control title="Title">
		<input [(ngModel)]="inputValue"
		       email
		       required
		       type="email">
		<validation when="required"> Required</validation>
		<validation when="email"> Should be an email</validation>
	</ax-control>
	<ax-control title="Title">
		<input [(ngModel)]="inputValue"
		       email
		       required
		       type="email">
		<validation when="required"> Required</validation>
		<validation when="email"> Should be an email</validation>
	</ax-control>
	<ax-control title="Title">
		<input [(ngModel)]="inputValue"
		       email
		       required
		       type="email">
		<validation when="required"> Required</validation>
		<validation when="email"> Should be an email</validation>
	</ax-control>
	<ax-control title="Title">
		<input [(ngModel)]="inputValue"
		       disabled
		       email
		       required
		       type="email">
		<validation when="required"> Required</validation>
		<validation when="email"> Should be an email</validation>
	</ax-control>
	<br/>
	<H3>Checkboxes</H3>
	<ax-control title="Title">
		<input [(ngModel)]="checkbox1Value"
		       trueValueValidatorCheckbox
		       type="checkbox">
		<validation when="trueValidator"> Custom validator for checkbox (value shouldn't be true)</validation>
	</ax-control>
</div>
